@use "../utilities" as *;

/**----------------------------------------
START: Theme Form CSS
----------------------------------------*/
.form-group {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background: var(--tj-color-common-white);
	border: 1px solid var(--tj-color-border-1);
	border-radius: 24px;
	padding: 15px 16px 15px;
	min-height: 76px;
	z-index: 1;
	row-gap: 16px;

	.anim-btn {
		position: absolute;
		right: 16px;
		top: 16px;
	}
}

label {
	display: block;
	font-size: 12px;
	color: var(--tj-color-common-black);
}

.form_input {
	width: 100%;
	input,
	textarea {
		font-size: 16px;
		font-family: var(--tj-ff-body);
		color: var(--tj-color-common-black);
		padding: 0px;
		border: none;
		width: 100%;
		padding-right: 125px;
		background-color: transparent;
		&::-ms-input-placeholder {
			color: var(--tj-color-common-black);
			font-size: 16px;
		}
		&::placeholder {
			color: var(--tj-color-common-black);
			font-size: 16px;
		}
		&:focus,
		&:focus-visible {
			outline: none;
			box-shadow: 0 0 0;
		}
	}
	textarea {
		min-height: 20px;
		resize: none;
	}
}
/* !END: Theme Form CSS */
