@use "../utilities" as *;

/**----------------------------------------
START: Theme Group CSS
----------------------------------------*/
.eulogai-section {
	padding: 0 30px;
	height: 100vh;
	overflow: hidden;

	@media #{$sm, $xs} {
		padding: 0 20px;
	}

	.chat-wrapper {
		height: 100%;

		.chat-inner {
			display: flex;
			flex-direction: column;
			position: relative;
			max-width: 678px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			height: 100%;
			transition: top 1s ease; /* Adjust the duration and easing as needed */

			// position: relative;
			// z-index: 1;
			// height: 100%;

			.chat_icons {
				max-width: 28px;
				width: 100%;
			}

			.intro {
				opacity: 0;
				transform: translateY(40%);
				transition: opacity 0.5s ease, transform 1s ease;
			}
			.intro.show {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

.document-wrap {
	max-width: 680px;
	width: 100%;
	margin-left: auto;
	background: var(--tj-color-common-white);
	border: 1px solid var(--tj-color-border-2);
	border-radius: 16px;
	padding: 24px 16px;
	.document-top {
		margin-bottom: 10px;
		span {
			display: flex;
			align-items: center;
			gap: 8px;
		}
		.title {
			margin-bottom: 10px;
		}
		.sub-title {
			font-size: 14px;
			color: var(--tj-color-common-black);
		}
	}
	.document-desc {
		p {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.document-button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
		span {
			display: block;
			color: var(--tj-color-grey-1);
			font-size: 12px;
		}
	}
}

.chat-anim {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 16px;

	.sec_title {
		margin-bottom: 16px;
	}
	.quick_note {
		margin-top: 16px;
	}

	.chat-content {
		margin-bottom: 32px;
		.desc {
			p {
				&:first-child {
					margin-bottom: 20px;
				}
				&:last-child {
					margin-top: 20px;
				}
			}
			ul {
				padding-left: 30px;
			}
		}
		.chat-list {
			margin-bottom: 20px;
			padding-left: 30px;
			ul {
				margin: 0;
				padding: 0;
			}
		}
	}
	textarea {
		width: 100%;
		min-height: 110px;
		border: none;
		resize: none;
		font-size: 16px;
		font-family: var(--tj-ff-body);
		color: var(--tj-color-common-black);
		line-height: 1.7;
		&:focus {
			outline: none;
		}
	}
	.document-btn {
		max-width: 330px;
		width: 100%;
		background: var(--tj-color-common-white);
		border: 1px solid var(--tj-color-border-2);
		border-radius: 16px;
		padding: 31px 16px;
		margin-top: 32px;
		.title {
			display: flex;
			gap: 8px;
			align-items: center;
			margin-bottom: 10px;
		}
		span {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 14px;
			font-family: var(--tj-ff-body);
			color: var(--tj-color-common-black);
			img {
				max-width: 11px;
				width: 100%;
			}
		}
	}

	&.what-i-do {
		align-items: center;

		.sec_title {
			text-align: center;
		}
		.cart-inner {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
	}
}

.cart_box {
	padding-top: 161px;
	padding-bottom: 16px;
	.sec_title {
		max-width: 500px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.title {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 40px;
			img {
				max-width: 47px;
				width: 100%;
			}
		}
	}
	.cart-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 20px;
		row-gap: 20px;
		margin-bottom: 24px;
	}
}

.cart-anim {
	.desc {
		margin-bottom: 32px;
	}
	.save-btn {
		margin-bottom: 56px;
	}
	.form-group {
		margin-bottom: 16px;
		.form_input {
			margin-bottom: 0;
		}
	}
	.cart-style-2 {
		display: flex;
		flex-wrap: wrap;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 20px;
		row-gap: 20px;
		.cart-item {
			.desc {
				display: flex;
				align-items: center;
				gap: 8px;
				font-size: 14px;
				color: var(--tj-color-common-black);
				line-height: 1.7;
				margin-bottom: 0;
			}
			&.active {
				background: var(--tj-color-theme-primary);
				.desc {
					color: var(--tj-color-common-white);
				}
				.img-1 {
					filter: brightness(0) invert(1);
				}
			}
		}
	}
}

.cart-item {
	max-width: 329px;
	width: 100%;
	background: var(--tj-color-common-white);
	border: 1px solid var(--tj-color-border-2);
	border-radius: 16px;
	padding: 24px 16px;
	color: inherit;
	&:focus,
	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0;
	}

	.title {
		display: flex;
		gap: 8px;
		align-items: center;
		margin-bottom: 10px;
		img {
			max-width: 26px;
			width: 100%;
		}
	}
	.cart-btn {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 14px;
		color: var(--tj-color-common-black);
		font-family: var(--tj-ff-body);
	}
	&.active {
		background: var(--tj-color-theme-primary);
		.title {
			color: var(--tj-color-common-white);
		}
		.cart-btn {
			color: var(--tj-color-common-white);
			img {
				filter: brightness(0) invert(1);
			}
		}
	}
}
/* !END: Theme Group CSS */
